#inputForm {
    width: 33%;
    text-align: center;
    margin: auto;
    border: 3px solid grey;
    background-color: grey;
    color: white;
    border-radius: 5px;
}

.inDiv {
    margin-bottom: 5px;
}

#preview {
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

#outDiv {
    width: 33%;
    margin: auto;
    word-wrap: break-word;
}

input {
    width: 50%;
}

#submitDiv {
    width: 40%;
    margin: auto;
    text-align: center;
}

.hide {
    
    visibility: hidden;
}

.show {
    color: red;
    visibility: show;
}